html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
}

.side-bar {
  background-color: #87556f;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.main-content {
  background-color: #322f3d;
}

img {
  border-radius: 50%;
  width: 70%;
  height: 92%;
  border-style: solid;
  border-width: 0.35cm;
  margin-left: 50px;
  /* background-color: #87556f; */
  border-color: #613e50;
  transition: transform 0.2s;
}
img:hover {
  transition: ease-in-out 1.5s;
  transform: scale(1.2);
}
.home-div {
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  color: white;
  width: 100%;
}
.sub-container-1 {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.sub-container-2 {
  display: flex;
}
.main-heading {
  font-family: "Otomanopee One", sans-serif;
}
.developer {
  font-family: "Otomanopee One", sans-serif;
}
.developer :hover {
  color: white;
  transition: ease-in-out 0.5s;
}
dt {
  margin-left: 30px;
}
.dd-class {
  margin-left: 50px;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: large;
  font-family: "Otomanopee One", sans-serif;
}
.fas {
  color: white;
}

.item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: white;
  opacity: 0.75;
}
h2 {
  color: white;
  margin-left: 30px;
  opacity: 1.7;
  transition: 0.3s;
}
h2:hover {
  color: white;
}
.new-div {
  margin-top: 8%;
}
.inner-div {
  margin-top: 40px;
  margin-left: 20px;
  width: 90%;
}
hr {
  transition: ease-in-out transform 0.7s;
}
hr:hover {
  transform: scale(2);
}
li,
p,
.main-content h5 {
  color: #e67a7e;
}
#bar {
  margin-top: 25%;
}
.side-bar li {
  font-weight: bold;
  list-style-type: none;
  margin-top: 25%;
}
li {
  list-style-type: none;
}
li a,
li p,
dd {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.inner-div h6 {
  font-size: 20px;
  font-weight: bold;
}
.side-bar ul {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.side-bar a {
  padding: 5px;
}
.projects-dl {
  font-size: large;
  text-decoration: underline;
  color: white;
  margin-top: 20px;
}
.projects-dd {
  margin-left: 50px;
  color: white;
}
#about-me p {
  text-align: justify;
}

.bar {
  position: fixed;
}
.side-bar ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project-heading {
  color: #e67a7e;
  list-style-type: decimal;
}
.side-bar li :hover {
  color: white;
  font-size: large;
  transition: ease-in-out 0.5s;
}

.li-skill {
  font-weight: bold;
}
.icon {
  color: white;
}
.image {
  box-shadow: 2px 2px 4px white;
  width: 75%;
  height: 90%;
}
p a {
  text-decoration: none;
  color: #e67a7e;
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}
.reponsive-image {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .sub-container-1,
  .sub-container-2 {
    width: 100%;
    margin-top: 10%;
  }
  .sub-container-2 {
    width: 50%;
  }
  .image {
    margin: auto;
    height: 60%;
    width: 90%;
  }
}
@media only screen and (max-width: 850px) {
  .home-div {
    flex-direction: column;
  }
  .image {
    margin: auto;
    height: 100%;
    width: 60%;
  }

  .side-bar {
    display: flex;
    position: relative;
  }

  .side-bar ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #bar {
    margin: 0 0;
  }
  .side-bar li {
    margin: 2% 1% 4% 0;
  }
  .responsive-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reponsive-image {
    display: flex;
    width: 100px;
    height: 100px;
    float: right;
  }
  .reponsive-image :hover {
    transition: ease-in-out 1.5s;
    transform: scale(1.2);
  }
  img {
    border: 1px solid pink;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .burger {
    display: flex;
    cursor: pointer;
  }
  .v-class-resp {
    opacity: 0;
    height: 0 !important;
  }
  .side-bar-visible {
    opacity: 1;
    height: 300px;
  }
  #bar {
    transition: all 1s ease-out;
  }
  .sub-container-2 {
    display: none;
  }
}
