body {
  margin: 0px;
  padding: 0px;
}
.side-bar {
  background-color: #87556f;
}
.main-content {
  background-color: #322f3d;
}

img {
  border-radius: 50%;
  width: 70%;
  height: 92%;
  border-style: solid;
  border-width: 0.5cm;
  margin-left: 50px;
  /* background-color: #87556f; */
  border-color: #613e50;
  transition: transform 0.2s;
}
img:hover {
  transform: scale(1.2);
}
.home-div {
  margin-top: 60px;
  margin-left: 20px;
  color: #bbbbbb;
}

dt {
  margin-left: 30px;
}
.dd-class {
  margin-left: 50px;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffe3d8;
  margin-top: 20px;
}

.item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #ffe3d8;
  opacity: 0.75;
}
h2 {
  color: #bbbbbb;
  margin-left: 30px;
  opacity: 1.7;
  transition: 0.3s;
}
h2:hover {
  color: #ffe3d8;
}
.new-div {
  margin-top: 80px !important;
}
.inner-div {
  margin-top: 40px;
  margin-left: 20px;
}
hr {
  transition: transform 0.5s;
}
hr:hover {
  transform: scale(2);
}
li,
p,
.main-content h5 {
  color: #87556f;
}
li {
  font-weight: bold;
}
li a,
li p,
dd {
  color: white;
  opacity: 0.8;
}
.inner-div h6 {
  font-size: 20px;
  font-weight: bold;
}
.side-bar li {
  padding: 20px;
  font-weight: bold;
}
.projects-dl {
  font-size: large;
  text-decoration: underline;
  color: #bbbbbb;
  margin-top: 20px;
}
.projects-dd {
  margin-left: 50px;
  color: #bbbbbb;
}
#about-me p {
  text-align: justify;
}
.content p {
  font-weight: bolder;
}
.bar {
  position: fixed;
}
.side-bar ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
}

@media only screen and (max-width: 600px) {
  .side-bar ul {
    position: relative;
    display: none;
  }
  .hamburger-button {
    display: block !important;
    position: relative;
  }
  .side-bar {
    display: flex;
    position: relative;
  }
  /* .side-bar li {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  } */
  .hamburger-button {
    display: block;
  }
}
